# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local-only asset files (kept out of git, deployed via vercel cli)
/public/illust-*.svg
!/public/illust-analysing-*.svg
!/public/illust-checking-*.svg
!/public/illust-logo-light.svg
!/public/illust-navigating-*.svg
!/public/illust-process-*.svg

/public/lottie-*.json
!/public/lottie-dashboard.json
!/public/lottie-login.json
!/public/lottie-message-sent-admin.json
!/public/lottie-message-sent-customer.json
!/public/lottie-notifications-empty.json
!/public/lottie-team.json

.vercel
